body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*-------Header--------*/
.container {
    max-width: 1158px;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
    display: flex
}

.header {
    border-bottom: 1px solid #e7e9fc
}

.logo {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        text-decoration: none;
        text-transform: uppercase;
}

.logo-accent-second {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #2E2F42;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 76px;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.navigation-link {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.navigation-link:hover {
    color: #404BBF;
}

.navigation-link:focus {
    color: #404BBF;
}

.header-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}
.address-list {
    color:#434455;
    text-decoration: none;
    font-style: normal;
    margin-right: 40px;
}
li: :last-child {
    margin-right: 0;
}
.address-list:hover{
    color: #404BBF;
}

.address-list:focus {
    color: #404BBF;
}

/*------Hero-------*/
.container-hero {
    width: 1158px;
    height: auto;
    margin: 0 auto;
    padding: 188px 0;
    display: block;
}
.hero {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
}

.hero-title {
        color: #FFFFFF;
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
}

.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    cursor: pointer;
    height: 56px;
    border: none; 
    border-radius: 4px;
    margin: 48px 635px 188 px 635px;
    min-width: 169px;
}
.hero-button:hover {
    background-color: #404BBF;
}

.hero-button:focus {
    background-color: #404BBF;
}

/*--Benefits--*/

.visually-hidden {
    margin: -1px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    padding: 0 156px;
    gap: 24px;
    margin-top: 120px;
}
.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.about-benefits {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.02em;
width: 264px;
height: auto;
padding-bottom: 120px;
}

/*--------Team------*/

.team {
    background-color: #f4f4fd;
}

.section-title {
color: #2E2F42;
line-height: 1.11;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
text-transform: capitalize;
padding-bottom: 120px;
padding-top: 120px;
text-align: center;
}
.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}
.team-card {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
margin-bottom: 120px;
}

/*------Portfolio--------*/

.title-third {
    color: #2E2F42;
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: left;

}

.description {
    color: #434455;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 32px 0;
    text-align: left;
}

.portfolio {
    width: 1158px;
}
.goods-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}
.goods {
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}
.portfolio-title {
    color: #2E2F42;
        line-height: 1.11;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-top: 120px;
        padding-bottom: 72px;
}

/*-------Footer--------*/

.footer {
    background-color: #2E2F42;
    height: 312px;
}

.footer-description {
    color: #F4F4FD;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    width: 264px;
    margin-left: 156px;
    margin-bottom: 100px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #4d5ae5;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 156px;
        margin-top: 254px;
        margin-bottom: 17.5px;
}

.logo-accent-second-footer {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #F4F4FD;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 254px;
        margin-bottom: 17.5px;
}
